body {

}

.menu > a {
    text-decoration: none;
    color: white;
    background-color: rgb(57, 131, 192);
    
}

nav {
    text-align: center;
    background-color: white; 
    height: 100px;
    display: flex;
    gap: 20px;
    
    
}

.menu {
    justify-content: space-between;
}